body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    height: 20px;
}

#logo { 
    height: 33px;
    width: 33px;
    padding-left: 200px;
}

nav {
    align-items: center;
    height: 22px;
    padding-right: 210px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 46px;
    margin: 0px;
    padding: 0px;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

nav ul li a.active {
    color: black;
}

.layoutpage {
    margin-left: 200px;
    margin-right: 200px;
}

.titlepage {
    margin-top: 40px;
    margin-bottom: 28px;
}

#titlepagename {
    font-size: 55px;
    margin: 0px;
}

.webapps {
    margin: 0px;
    font-size: 32px;
    font-weight: 300px;
    padding-left: 1px;
}

.styled-line {
    border: none;
    height: 1px;
    background: rgba(211, 211, 211, 0.8);
    width: 100%;
    position: relative;
}

.styled-line::before {
    content: "";
    position: absolute;
    width: 335px;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
}

.container {
    margin-top: 150px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100%;
}


.up {
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
}