body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    height: 20px;
}

#logo { 
    height: 33px;
    width: 33px;
    padding-left: 200px;
}

nav {
    align-items: center;
    height: 22px;
    padding-right: 210px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 46px;
    margin: 0px;
    padding: 0px;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

nav ul li a.active {
    color: black;
}

.layoutpage {
    margin-left: 200px;
    margin-right: 200px;
}

.titlepage {
    margin-top: 40px;
    margin-bottom: 28px;
}

#titlepagename {
    font-size: 55px;
    margin: 0px;
}

.aboutme {
    margin: 0px;
    font-size: 32px;
    padding-left: 1px;
}

.styled-line {
    border: none;
    height: 1px;
    background: rgba(211, 211, 211, 0.8);
    width: 100%;
    position: relative;
}

.styled-line::before {
    content: "";
    position: absolute;
    width: 141px;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.layoutbody {
    position: static;
}

.aboutinfo {
    margin-right: 33px;
    font-size: 19px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 0.5px;
    word-spacing: -0.4px;
}

.aboutmepic {
    object-fit: cover;
    margin-top: 20px;
    width: 350px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.2)
}